<!--
  Generated template for the FaleConoscoNovoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      FALE CONOSCO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../../assets/AMA/ICONES/icone-home-faleconosco.png">
  <form [formGroup]="faleconoscoForm" (ngSubmit)="onSubmit()" padding>
    <ion-item class="select">
      <ion-select formControlName="assunto_id" placeholder="Assunto" interface="popover">
        <ion-option *ngFor="let assunto of assuntos" value="{{ assunto.id }}">{{ assunto.nome }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="textarea">
      <ion-textarea rows="8" formControlName="mensagem" placeholder="Mensagem"></ion-textarea>
    </ion-item>
    <button ion-button small color="primary" type="submit" margin-top [disabled]="faleconoscoForm.invalid">
      Enviar
    </button>
  </form>
</ion-content>
