page-fale-conosco-novo {
  .content {
    img {
      margin: 0 auto;
      width: 6pc;
      display: block;
    }

    ion-item {
      padding: 0;

      .item-inner {
        border-bottom-width: 0 !important;
      }

      & * {
        color: #3a6fbd;
      }

      .item-inner {
        border: 1px solid #3a6fbd !important;
        border-radius: 10px;

        ion-label {
          margin: 11px 8px 11px 11px !important;
        }
      }

      &.select {
        margin-bottom: 20px;

        ion-select {
          max-width: 100% !important;
          width: 100% !important;
        }

        .item-inner {

          .select-icon-inner {
            background: {
              image: url('../../assets/AMA/ICONES/seta-azul.png');
              position: 0 0;
              repeat: no-repeat;
              size: 100%
            }

            width: 20px !important;
            height: 13px !important;
            left: -15px !important;
            top: 40% !important;
            border: 0 !important;

          }
        }
      }

      &.textarea {
        textarea {
          padding-left: 11px !important;
        }
      }
    }

    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  }
}
