<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" padding>
    <ion-title>
      <img src="../../assets/AMA/ICONES/marca-ama.png">
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col col-2 class="bg-white">
          <img item-left src="../../assets/AMA/ICONES/icone-login-nome.png">
        </ion-col>
        <ion-col col-10>
          <ion-item item-rigth>
            <ion-input formControlName="username" type="text" placeholder="Nome"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2 class="bg-white">
          <img item-left src="../../assets/AMA/ICONES/icone-login-senha.png">
        </ion-col>
        <ion-col col-10>
          <ion-item item-rigth>
            <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-10>
          <ion-buttons start class="btn-group">
            <button ion-button block small color="white">
              Entrar
            </button>
            <button ion-button block small clear class="btn-small" color="white">Esqueci minha senha</button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <img src="../../assets/AMA/ICONES/marca-jp-sistemas-branca.svg">
</ion-footer>
