page-login {
  .content {
    background-color: #052554;

    .scroll-content {
      display: grid !important;
      align-content: center !important;
      justify-content: center !important;
      padding-bottom: 0 !important;

      form {
        height: max-content !important;
      }
    }

    ion-title {
      text-align: center;

      img {
        max-width: 34%;
      }
    }

    ion-col {

      img {
        width: 100% !important;
        height: 100% !important;
      }
    }

    .item {
      background-color: transparent !important;
      border: 1px solid #fff !important;

      .item-inner {
        border: 0 !important;
        box-shadow: none !important;

        input {
          color: #fff !important;
        }
      }
    }

    .bg-white {
      img {
        background-color: #fff;
      }
    }

    .btn-group {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;

      .btn-small {
        font-size: 1rem !important;
      }
    }
  }

  ion-footer {
    text-align: center;

    img {
      width: 160px !important;
      padding: 10px !important;
    }
  }
}
