<!--
  Generated template for the AgendaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      AGENDA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-segment [(ngModel)]="view">
    <ion-segment-button value="mes">
      MÊS
    </ion-segment-button>
    <ion-segment-button value="ano">
      ANO
    </ion-segment-button>
  </ion-segment>
  <ion-title>{{ currentYear }}</ion-title>
  <main [ngSwitch]="view">
    <div *ngSwitchCase="'ano'">
      <div class="view-ano" *ngFor="let date of dateyear" col-4 float-left (click)="viewMes(date)">
        <div class="calendar-header">
          <ion-row class="calendar-month">
            <ion-col>{{date.currentMonth}}</ion-col>
          </ion-row>
        </div>
        <div class="calendar-body">
          <ion-grid>
            <ion-row class="calendar-date">
              <ion-col col-1 *ngFor="let lastDay of date.daysInLastMonth" class="last-month">{{lastDay}}</ion-col>
              <ion-col col-1 *ngFor="let day of date.daysInThisMonth" class="day">
                <span class="currentDate" *ngIf="date.currentDate === day; else otherDate">{{day}}</span>
                <ng-template #otherDate class="otherDate">{{day}}</ng-template>
              </ion-col>
              <ion-col col-1 *ngFor="let nextDay of date.daysInNextMonth" class="next-month">{{nextDay}}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'mes'">
      <div class="view-mes">
        <div class="calendar-header">
          <ion-row class="calendar-month">
            <ion-col>{{currentMonth}}</ion-col>
          </ion-row>
        </div>
        <div class="calendar-body">
          <ion-grid>
            <ion-row class="calendar-weekday">
              <ion-col style="color: #ec3832;">D</ion-col>
              <ion-col style="color: #607D8B;">S</ion-col>
              <ion-col style="color: #607D8B;">T</ion-col>
              <ion-col style="color: #607D8B;">Q</ion-col>
              <ion-col style="color: #607D8B;">Q</ion-col>
              <ion-col style="color: #607D8B;">S</ion-col>
              <ion-col style="color: #607D8B;">S</ion-col>
            </ion-row>
            <ion-row class="calendar-date">
              <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month">{{lastDay}}</ion-col>
              <ion-col col-1 *ngFor="let day of daysInThisMonth">
                <span class="currentDate" *ngIf="currentDate === day; else otherDateEvent">{{day}}</span>
                <ng-template #otherDateEvent>
                  <span class="otherDateEvent" *ngIf="isEvent(day); else otherDate" (click)="viewDay(day)">{{day}}</span>
                </ng-template>
                <ng-template #otherDate class="otherDate">{{day}}</ng-template>
              </ion-col>
              <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month">{{nextDay}}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </main>
</ion-content>
