page-agenda {
  .toolbar-title {
    text-align: center !important;
    font-size: 2.3rem !important;
  }

  .content {
    ion-segment {
      width: 52%;
      margin: 0 auto !important;

      ion-segment-button {
        line-height: 2rem !important;
        height: 2.2rem !important;
      }
    }

    .toolbar-title {
      font-size: 3.5rem !important;
      color: #3a6fbd;
      margin-top: 15px;
    }

    .view-ano {

      &[col-4] {
        padding: 0 !important;
        margin: 15px 0;
      }

      [col-1] {
        padding: 0 !important;
        margin: 0 2px !important;
        text-align: right;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 10.285714%;
      }

      .last-month,
      .next-month {
        color: #999999;
        font-size: .8rem;
      }

      .currentDate,
      .otherDate {
        padding: 5px;
      }

      .currentDate {
        font-weight: bold;
        color: #3a6fbd;
        padding: 0 !important;
      }

      .day {
        font-size: .8rem;
      }

      .calendar-date {
        .col:nth-child(7n+1) {
          color: #ec3832;
        }
      }

      .calendar-header {
        color: #3a6fbd;
        text-align: center;
        border-bottom: .5px solid #dce7ed;
        margin-bottom: 5px;
      }

      .event-bullet {
        margin: 2px auto;
        height: 5px;
        width: 5px;
        border-radius: 30px;
      }

      .selected-date {
        width: 20px;
        height: 2px;
      }

      .unselected-date {
        border: none;
      }

      .calendar-body {
        .grid {
          padding: 0;
        }

        .col:last-child {
          border-right: none;
        }

        .calendar-weekday,
        .calendar-date {
          text-align: center;
          margin: 0;
        }

        .calendar-weekday {
          font-weight: bold;
        }
      }
    }

    .view-mes {
      [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }

      .col {
        text-align: center;
        padding: 5px;
        font-size: 2.3rem;
        font-weight: 900;
        color: #333333;
      }

      .last-month,
      .next-month {
        opacity: .5;
        font-size: 2.3rem;
      }

      .currentDate,
      .otherDate {
        padding: 5px;
      }

      .calendar-date {
        .col:nth-child(7n+1) {
          color: #ec3832;
        }
      }

      .currentDate {
        font-weight: bold;
        background-color: #3a6fbd;
        color: white;
        border-radius: 30px;
        padding: 5px 6px !important;
      }

      .otherDateEvent {
        color: #4CAF50;
      }

      .calendar-header {
        color: #3a6fbd;
        font-size: 2.5rem;
        font-weight: 500;
        margin: 20px 0 0 0;
        border-top: .5px solid #dce7ed;
        border-bottom: .5px solid #dce7ed;
      }

      .calendar-month .col {
        color: #3a6fbd;
      }

      .event-bullet {
        margin: 2px auto;
        height: 5px;
        width: 5px;
        background-color: #3a6fbd;
        border-radius: 30px;
      }

      .selected-date {
        width: 20px;
        height: 2px;
        background-color: blue;
      }

      .unselected-date {
        border: none;
      }

      .calendar-body {
        .grid {
          padding: 0;
        }

        .col:last-child {
          border-right: none;
        }

        .calendar-weekday,
        .calendar-date {
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}
