<!--
  Generated template for the FaleConoscoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      FALE CONOSCO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Assunto</h2>
  <ion-list no-lines>
    <ion-item *ngFor="let mensagem of mensagens" (click)="openMensagem(mensagem.id)">
      <small> {{mensagem.created_at | date:'dd/MM/yyyy'}} </small>
      {{ mensagem.mensagem }}
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="openNovo()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
