page-fale-conosco {
    .content {
        h2 {
            color: #3a6fbd;
            font-weight: 900;
        }
        
        ion-item {
            border-bottom: 1px solid #dce7ed !important;

            small {
                font-style: italic;
                font-weight: normal;
                display: block;
                color: #3a6fbd;
            }
        }
    }
}
