<!--
  Generated template for the ContatoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      CONTATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item *ngFor="let contato of contatos">
      <div class="header">
        <img src="../../assets/AMA/ICONES/icone-home-contatos.png">
        {{ contato.name }}
      </div>
      <p><strong>E-mail:</strong> {{ contato.email }} </p>
      <p><strong>Telefone:</strong> {{ contato.meta?.phone }} </p>
    </ion-item>
  </ion-list>
</ion-content>
