page-contato {
  .scroll-content {
    padding: 0 !important;

    ion-item {
      padding: 10px 40px !important;

      &:nth-of-type(2n) {
          background-color: #dce7ed;
      }

      .header {
        display: flex;
        align-items: center;
        font-weight: 900;
        color: #3a6fbd;
        text-transform: uppercase;
        display: inline-flex;
        white-space: normal;

        img {
          width: 50px;
          margin-right: 10px;
        }
      }

      p {
          color: #333333;
      }
    }
  }
}
