page-home {
  ion-header {

    button.logo {
      width: 80px !important;
      height: 47px !important;
    }


    ion-buttons {
      img {
        width: 30px !important;
      }

      button {
        ion-badge {
          position: absolute;
          top: -0.8rem;
          right: -0.2rem;
          opacity: 0.9;

          &~ion-icon {
            margin-right: 1.2rem;
          }
        }
      }
    }

    ion-toolbar {
      ion-title {
        .toolbar-title {
          font-weight: lighter !important;
        }

        &.title-ios {
          padding: 0 7px 1px !important;

          .toolbar-title-ios {
            width: 100% !important;
            max-width: 100% !important;
            text-align: left !important;
          }
        }

        strong {
          display: block !important;
        }
      }
    }

    &::after {
      left: 0;
      background-position: left 0 top -2px;
      position: absolute;
      width: 100%;
      background-repeat: repeat-x;
      content: "";
      bottom: -4px !important;
      height: 4px !important;
      background-color: #ec3832 !important;
      background-image: none !important;
    }
  }

  .content {
    ion-list.item-list {
      padding-left: 25px !important;
      padding-right: 25px !important;

      ion-item {
        padding: 5px 0px 5px 16px !important;
        border: 1px solid #3a6fbd !important;

        border: {
          top-left-radius: 25px !important;
          top-right-radius: 25px !important;
          bottom-left-radius: 25px !important;
          bottom-right-radius: 25px !important;
        }

        margin-bottom: 10px !important;

        .item-inner {
          border-left: 1px solid #3a6fbd !important;
        }

        img {
          padding: 5px !important;
          margin: 0px 8px 0px 0 !important;
          width: 40px !important;
          margin-right: 15px !important;
        }

        ion-label {
          margin: 3px !important;
          height: 39px !important;
          display: flex !important;
          line-height: 0 !important;
          font-size: 3rem !important;
          color: #3a6fbd !important;
          margin-left: 15px !important;
          align-items: center !important;
          font-weight: lighter !important;
        }
      }

    }

    ion-grid.mare-icon {
      ion-row {
        padding-left: 25px;
        padding-right: 25px;

        ion-col {
          text-align: center;
          color: #3a6fbd;
          font-weight: 900;
          font-size: 1.6rem;

          img {
            width: 40%;
          }
        }
      }
    }

    ion-grid.old-icon {
      ion-row {
        ion-col:first-child {
          text-align: right !important;

          img {
            width: 30% !important;
          }
        }

        ion-col:last-child {
          img {
            width: 45% !important;
          }
        }
      }
    }
  }

  ion-footer {
    background-color: #3a6fbd !important;
    text-align: center !important;

    &::before {
      left: 0;
      background-position: left 0 top -2px;
      position: absolute;
      width: 100%;
      background-repeat: repeat-x;
      content: "";
      background-color: #ec3832;
      height: 4px;
      top: -4px;
    }

    img {
      padding-top: 7px !important;
      padding-bottom: 7px !important;
      width: 34% !important;
    }
  }
}
