<ion-header>
  <ion-navbar>
    <button ion-button icon-only clear large class="logo">
      <img src="../../assets/AMA/ICONES/marca-ama.png">
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <!-- <img *ngIf="hasAviso" src="../../assets/AMA/ICONES/icone-notificacao-red.png"> -->
        <!-- <img *ngIf="!hasAviso" src="../../assets/AMA/ICONES/icone-notificacao-white.png"> -->
        <ion-icon name="more"></ion-icon>
        <ion-badge color="danger" *ngIf="hasAviso">{{ quantidadeAviso }}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>
      {{ (profile)?.user.name }}
      <strong>
        {{ cargo }}
      </strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines class="item-list">
    <ion-item (click)="openPage('NoticiaPage')">
      <img item-left src="../../assets/AMA/ICONES/icone-home-noticias.png">
      Notícias
    </ion-item> 
    <ion-item (click)="openPage('PautaPage')">
      <img item-left src="../../assets/AMA/ICONES/icone-home-pautas.png">
      Pautas
    </ion-item>
    <ion-item (click)="openPage('AgendaPage')">
      <img item-left src="../../assets/AMA/ICONES/icone-home-agenda.png">
      Agenda
    </ion-item>
    <ion-item (click)="openPage('ArrecadacaoPage')">
      <img item-left src="../../assets/AMA/ICONES/icone-home-arrecadacao.png">
      Arrecadação
    </ion-item>
    <ion-item (click)="openPage('MunicipioPage')">
      <img item-left src="../../assets/AMA/ICONES/icone-home-municipios.png">
      Municípios
    </ion-item>
  </ion-list>
  <ion-grid class="mare-icon">
    <ion-row>
      <ion-col (click)="openPage('ContatoPage')">
        <img src="../../assets/AMA/ICONES/icone-home-contatos.png">
        <p>CONTATOS</p>
      </ion-col>
      <ion-col (click)="openPage('FaleConoscoPage')">
        <img src="../../assets/AMA/ICONES/icone-home-faleconosco.png">
        <p>FALE CONOSCO</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="old-icon">
    <ion-row>
      <ion-col (click)="openContato('NoticiaPage', 27)">
        <img src="../../assets/AMA/ICONES/marca-undime.png">
      </ion-col>
      <ion-col (click)="openContato('NoticiaPage', 28)">
        <img src="../../assets/AMA/ICONES/marca-cosems.png">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <img src="../../assets/AMA/ICONES/marca-jp-sistemas-branca.svg">
</ion-footer>
