<!--
  Generated template for the TermoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      TERMO DE USO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h6>1 Termos de Uso – Obrigatoriedade e Licenciamento</h6>

  <p>1.1 Os presentes termos de uso (doravante denominados "termos de uso") estabelecem e governam o acesso e utilização
    do aplicativo AMA INFORMA bem como qualquer outro aplicativo, website ou software a ele vinculado de qualquer forma
    (todos são doravante designados como “AMA INFORMA”). Os presentes termos de uso estabelecem condições essenciais e
    necessárias para a utilização do AMA INFORMA e o relacionamento entre o público usuário do aplicativo (doravante
    denominado “Usuário”), a AMA usuário do aplicativo (doravante denominada "AMA") e a JP SISTEMAS Autor do aplicativo
    (doravante denominado “Autor”). A utilização do aplicativo implica imediata aceitação dos presentes termos de uso.
    Os presentes termos de uso, além de regularem contratualmente a relação entre as partes, devem ser entendidos também
    como licença de uso do AMA INFORMA. O AMA INFORMA é regido pelo direito autoral. Para a utilização em qualquer forma
    do aplicativo, é obrigatório aceitar os presentes termos de uso. Sua não aceitação ou infração constitui não apenas
    violação dos presentes termos de uso, como também violação do direito autoral do AMA INFORMA.</p>

  <p>1.2 A versão válida e eficaz dos presentes termos de uso é aquela publicada atualmente no aplicativo em língua
    Português Brasileiro. Esta versão governa todas as relações passadas e presentes entre os usuários do aplicativo,
    respeitados direitos adquiridos, atos jurídicos perfeitos e coisas julgadas. O usuário deverá sempre ler atentamente
    os presentes termos de uso, e não poderá escusar-se deles alegando ignorância sobre seus termos, inclusive quanto a
    eventuais modificações.</p>

  <h6>2 Aceitação dos Termos de Uso</h6>

    <p>2.1 Para usar os Serviços do aplicativo, o usuário deverá primeiro concordar com os Termos de Uso. Não é
      permitido o uso dos Serviços por parte do usuário se ele não aceitar os Termos de uso.</p>

    <p>2.2 O usuário aceita os Termos:</p>
    <ul>
      <li>(A) clicando no respectivo ícone para aceitar ou concordar com os termos de uso, no caso de essa opção ser
        disponibilizada pelo AMA INFORMA na interface do usuário para qualquer serviço; ou</li>

      <li>(B) usando efetivamente os serviços. Nesse caso, o usuário compreende e aceita que o AMA INFORMA considerará o
        seu uso dos serviços uma aceitação dos termos de uso a partir desse momento.</li>
    </ul>

    <p>2.3 O usuário não poderá usar os serviços se: (a) não tiver idade legal para celebrar um contrato com efeito
      jurídico com o AMA INFORMA; ou (b) for uma pessoa com restrições, quanto ao recebimento de serviços, impostas
      pelas leis Brasileiras ou de outros países, incluindo o país onde o usuário é residente ou a partir do qual usa os
      serviços.</p>

    <h6>3 Direitos de propriedade</h6>

    <p>3.1 O usuário reconhece e concorda que o Autor detém todos os direitos legais, títulos e participações relativas
      aos serviços, incluindo quaisquer direitos de propriedade intelectual que subsistam nos serviços (quer esses
      direitos estejam registrados ou não, e em qualquer parte do mundo onde esses direitos possam existir). Além disso,
      o usuário reconhece que os serviços podem conter informações designadas confidenciais pelo AMA INFORMA e que não
      as revelará sem o prévio consentimento escrito do AMA INFORMA.</p>

    <p>3.2 A menos que o usuário tenha concordado por escrito em contrário com o Autor, nada nos termos lhe dá o direito
      de utilizar qualquer uma das marcas registradas, marcas comerciais, marcas de serviços, logotipos, nomes de
      domínios e outras características de marca especiais do AMA INFORMA.</p>

    <p>3.3 O usuário concorda que não removerá, ocultará nem alterará quaisquer avisos de direitos de propriedade
      (incluindo avisos de direitos de Autor e de marcas comerciais) que possam estar afixados ou contidos nos serviços.
    </p>

    <p>3.4 A menos que tenha sido expressamente autorizado por escrito pelo AMA INFORMA a fazê-lo, o usuário concorda
      que, ao usar os serviços, não irá utilizar qualquer marca comercial, marca de serviço, marca registrada, logotipo
      de qualquer empresa ou organização de forma que seja provável ou pretendido que cause confusão relativamente ao
      proprietário ou usuário autorizado dessas marcas, nomes ou logotipos.</p>

    <p>3.5 O Autor se opõe a qualquer alteração ou modificação de AMA INFORMA, salvo expressa autorização por escrito em
      sentido contrário.</p>

    <p>3.6 O Autor se reserva o direito exclusivo de aluguel comercial do uso dos Serviços de AMA INFORMA, podendo
      fazê-lo ou deixar de fazê-lo a qualquer tempo. Nesse sentido, é expressamente vedada a reprodução, ainda que
      parcial, da propriedade intelectual desenvolvida pelo Autor sem seu expresso consentimento.</p>

    <h6>4 Objeto dos termos de uso</h6>

    <p>4.1 Constitui objeto destes termos de uso a utilização de forma não exclusiva por parte do Usuário dos conteúdos,
      ferramentas e serviços (doravante denominados “Serviços”) disponibilizados pelo Autor no aplicativo AMA INFORMA.
    </p>

    <p>4.2 Os serviços são oferecidos mediante pagamento da AMA diretamente para o Autor. O valor pago pelos serviços
      será acertado entre o Autor e a AMA no momento da contratação e estará sujeito a reajustes. A AMA compreende e
      aceita que o Autor possui o direito modificar essa condição posteriormente conforme lhe for conveniente e sem a
      necessidade de aviso prévio.</p>

    <p>4.3 O Autor não oferece nenhuma garantia de suporte ou nível de serviço estando o Usuário ciente de que utiliza
      os serviços do AMA INFORMA por sua própria conta e risco. A prestação de serviços técnicos necessários ao adequado
      funcionamento do programa será regulada pelo contrato de aluguel comercial a ser firmado com a AMA, no qual será
      fixado inclusive o prazo de validade técnica.</p>


    <p>4.4 O Usuário compreende e aceita que a disponibilidade e o desempenho dos serviços estão sujeitos a falhas e
      interrupções e que o Autor fica isento de qualquer responsabilidade por eventuais danos causados por tais
      problemas.</p>

    <h6>5 Uso dos serviços</h6>

    <p>5.1 Para ter acesso ao uso de alguns Serviços do AMA INFORMA, é necessário que o usuário informe alguns dados
      pessoais (como e-mail, telefone e código de acesso). Fica estabelecido que o usuário é o responsável pela
      autenticidade e veracidade destas informações e o usuário é o responsável por qualquer dano causado a terceiros
      pelo fornecimento de informações erradas ou inverídicas estando o Autor isento de qualquer responsabilidade.</p>

    <p>5.2 O aplicativo AMA INFORMA permite a troca de informações e dados pessoais entre diferentes usuários. O
      conteúdo dessas informações é de autoria e responsabilidade dos usuários do aplicativo. O Autor se isenta de
      qualquer responsabilidade sobre esses conteúdos.</p>

    <p>5.3 O usuário se compromete a utilizar o AMA INFORMA de boa-fé e em conformidade com todos os preceitos legais,
      regulamentares e contratuais porventura aplicáveis, bem como com a ordem pública, a moral e os bons costumes e as
      normas de conduta e etiqueta geralmente aceitas.</p>

    <p>5.4 O usuário não poderá de nenhuma forma empregar mecanismos técnicos que de qualquer forma subvertam a regular
      utilização do AMA INFORMA, sem a prévia consulta ao Autor. Esses mecanismos incluem a utilização de robôs (robots,
      ou bots), spiders, scripts ou qualquer outra forma de acesso automatizado ao AMA INFORMA que de alguma forma sirva
      para desvirtuar suas finalidades e propósitos. O emprego desses recursos sem autorização prévia implica violação
      dos presentes termos de uso e sujeita a parte infringente ao pagamento de danos emergentes e lucros cessantes, bem
      como de multa punitiva que se aplicará mesmo que não tenha sido produzido qualquer dano, a ser arbitrada pelo
      juízo que for responsável pelo julgamento da causa.</p>

    <p>5.5 O usuário não poderá praticar qualquer ato que possa ser qualificado como spam. Além disso, nenhum dado
      inserido pelo usuário poderá ser utilizado com finalidade publicitária, direta ou indiretamente, ou em qualquer
      outra finalidade comercial, sem a prévia solicitação e consentimento do Autor.</p>

    <p>5.6 O usuário que submeter qualquer conteúdo ou participar de quaisquer atividades com relação ao AMA INFORMA
      garante e certifica que não está infringindo quaisquer direitos, legais, contratuais ou de terceiros, bem como
      quaisquer outros. Quaisquer reclamações de terceiros serão de responsabilidade do Usuário, que deverá assumir
      todas e quaisquer responsabilidades legais e processuais com relação à reclamação. O usuário fica ciente que o AMA
      INFORMA denunciará todas e quaisquer lides, litígios e disputas no qual for envolvido por conta de conteúdos e
      condutas submetidos ou perpetradas por usuários ou terceiros, na medida permitida pela lei, de modo a não mais ser
      parte da lide, litígio ou disputa.</p>

    <h6>6 Proteção de Dados Pessoais</h6>

    <p>6.1 Para acessar certos serviços e conteúdos do AMA INFORMA, é necessário que o Usuário forneça previamente
      alguns dados de caráter pessoal (dados pessoais). O AMA INFORMA adota níveis de segurança dentro dos requisitos
      legais para a proteção dos dados pessoais. Entretanto, o usuário compreende e aceita que pela própria natureza e
      características técnicas da Internet, essa proteção não é infalível e encontra-se sujeita à violação pelas mais
      diversas práticas maliciosas.</p>

    <p>6.2 A proteção e o uso dos dados pessoais fornecidos pelo Usuário estão sujeitos aos Termos de Uso do AMA INFORMA
      que é comunicado no aplicativo. O Usuário compreende e aceita que os termos de uso estão sujeitos a mudanças a
      qualquer momento e sem aviso prévio.</p>

    <h6>7 Suspensão de Serviço, Remoção de Conteúdo e Retirada de Usuários</h6>

    <p>7.1 A prestação dos Serviços do AMA INFORMA não têm duração definida, e o Autor reserva-se o direito de terminar,
      suspender ou interromper unilateralmente e a qualquer momento, sem necessidade de prévio aviso, a prestação total
      ou parcial do serviço, ou sua inteira transformação e modificação. O Autor reserva-se também o direito decorrente
      de cancelar e interromper o registro de qualquer usuário, a qualquer tempo, por sua única e exclusiva
      discricionariedade, sem qualquer aviso prévio, ou de remover, remanejar ou alterar qualquer conteúdo a qualquer
      tempo e sem aviso prévio.</p>

    <h6>8 Exclusão de Garantias e de Responsabilidade</h6>

    <p>8.1 Por razões técnicas e de operação, não é possível garantir a disponibilidade e continuidade do AMA INFORMA,
      bem como evitar sua falibilidade. Todos os serviços oferecidos pelo AMA INFORMA são disponibilizados no estado em
      que se encontram. A utilização do AMA INFORMA e seus serviços deve ser feita sob o próprio risco do usuário. O AMA
      INFORMA não garante o uso dos serviços por parte dos usuários e não pode se responsabilizar de nenhuma forma pelo
      mesmo. Os usuários ficam desde já advertidos a procederem com sua própria diligência, conta e risco ao utilizar o
      AMA INFORMA.</p>

    <p>8.2 O Autor dessa forma se exime e se exonera, em toda a extensão permitida pelo ordenamento jurídico brasileiro
      e qualquer outro aplicável, de qualquer responsabilidade pelos danos de qualquer natureza, lucros cessantes e
      danos emergentes, que possam ser ocasionados ou decorrer da falta de continuidade ou funcionamento do AMA INFORMA,
      bem como daqueles decorrentes ou ocasionados do oferecimento dos serviços do AMA INFORMA, da postagem e
      disponibilização de conteúdos. o AMA INFORMA é um mero canal de comunicação disponibilizado aos usuários e não
      fiscaliza conteúdos. Fica excluída assim toda e qualquer responsabilidade por condutas ou conteúdos no âmbito do
      AMA INFORMA.</p>

    <p>8.3 Com relação à privacidade dos usuários, o AMA INFORMA adota níveis de segurança dentro dos requisitos legais
      para a proteção dos dados pessoais, conforme cláusula 6.1. Nesse sentido, o usuário compreende e aceita o risco
      inerente de que sejam possíveis a terceiros inferir de qualquer forma informações sobre condições,
      características, dados, circunstâncias e classes pertinentes aos usuários do AMA INFORMA.</p>

    <p>8.4 O AMA INFORMA dessa forma se exime e se exonera, em toda a extensão permitida pelo ordenamento jurídico
      brasileiro e qualquer outro aplicável, de qualquer responsabilidade pelos danos de qualquer natureza, lucros
      cessantes e danos emergentes, que possam ser ocasionados ou decorrer de questões ligadas a privacidade bem como de
      questões ligadas a informações obtidas através do AMA INFORMA, no uso de serviços ou de qualquer outra forma, nos
      termos acima.</p>

    <p>8.5 O AMA INFORMA não garante a ausência de elementos prejudiciais porventura presentes nos conteúdos, incluindo
      vírus, que possam produzir danos em sistemas de informação ou em documentos eletrônicos e arquivos armazenados.
    </p>

    <p>8.6 O AMA INFORMA dessa forma se exime e se exonera, em toda a extensão permitida pelo ordenamento jurídico
      brasileiro e qualquer outro aplicável, de qualquer responsabilidade pelos danos de qualquer natureza, lucros
      cessantes e danos emergentes, que possam ser ocasionados ou decorrer por elementos prejudiciais presentes nos
      conteúdos, que possam produzir danos em sistemas de informação ou em documentos eletrônicos e arquivos
      armazenados.</p>

    <p>8.7 O AMA INFORMA não garante a legalidade, confiabilidade e utilidade dos conteúdos.</p>

    <p>8.8 O AMA INFORMA dessa forma se exime e se exonera, em toda a extensão permitida pelo ordenamento jurídico
      brasileiro e qualquer outro aplicável, de qualquer responsabilidade pelos danos de qualquer natureza, lucros
      cessantes e danos emergentes, que possam ser ocasionados ou decorrer da transmissão, difusão, armazenamento,
      disponibilização, recepção, obtenção ou acesso aos conteúdos, e em particular, ainda que não de modo exclusivo,
      pelos danos e prejuízos que possam decorrer do:</p>
    <ul>
      <li>(a) descumprimento da lei, da moral, dos bons costumes geralmente aceitos ou da ordem pública, como
        consequência da transmissão, difusão, armazenamento, disponibilização, recepção, obtenção ou acesso aos
        conteúdos;</li>

      <li>(b) da infração aos direitos de propriedade intelectual e industrial, dos segredos empresariais, políticos,
        dos compromissos contratuais de qualquer tipo, dos direitos à honra, à intimidade pessoal e familiar, à imagem
        das pessoas, dos direitos de propriedade e de toda e qualquer natureza pertencentes a um terceiro como
        consequência da transmissão, difusão, armazenamento, disponibilização, recepção, obtenção ou acesso aos
        conteúdos;</li>

      <li>(c) da realização de atos de concorrência desleal e publicidade ilícita como consequência da transmissão,
        difusão, armazenamento, disponibilização, recepção, obtenção ou acesso aos conteúdos;</li>

      <li>(d) da falta de veracidade, precisão, exatidão, pertinência e/ou atualidade dos conteúdos;</li>

      <li>(e) da inadequação para qualquer tipo de propósito, ou da frustração, das expectativas geradas pelos
        conteúdos;</li>

      <li>(f) do descumprimento, atraso no cumprimento, cumprimento defeituoso ou finalização por qualquer motivo das
        obrigações contraídas por terceiros e contratos realizados com terceiros através de ou com base no acesso aos
        conteúdos;</li>

      <li>(g) dos vícios e defeitos de todo tipo existentes nos serviços prestados por terceiros através do AMA INFORMA.
      </li>
    </ul>
    <p>8.9 O AMA INFORMA não garante a veracidade, exatidão, completude e atualidade dos conteúdos.</p>

    <p>8.10 O AMA INFORMA dessa forma se exime e se exonera, em toda a extensão permitida pelo ordenamento jurídico
      brasileiro e qualquer outro aplicável, de qualquer responsabilidade pelos danos de qualquer natureza, lucros
      cessantes e danos emergentes, que possam ser ocasionados ou decorrer da falta de veracidade, exatidão, completude
      e/ou atualidade dos conteúdos.</p>

    <p>8.11 O AMA INFORMA não garante que os usuários estejam em conformidade com a lei, com os presentes termos de uso
      ou com quaisquer outros instrumentos normativos aplicáveis, ou da moral e dos bons costumes geralmente aceitos
      pela ordem pública. O AMA INFORMA não verifica e não possui qualquer obrigação de verificar a identidade dos
      usuários nem a veracidade, completude, autenticidade dos dados que os usuários fornecem sobre si em qualquer
      circunstância.</p>

    <p>8.14 O AMA INFORMA dessa forma se exime e se exonera, em toda a extensão permitida pelo ordenamento jurídico
      brasileiro e qualquer outro aplicável, de qualquer responsabilidade pelos danos de qualquer natureza, lucros
      cessantes e danos emergentes, que possam ser ocasionados ou decorrer da utilização dos serviços, conteúdos e do
      próprio AMA INFORMA que possam ocorrer em razão de problemas quanto à veracidade, completude e autenticidade da
      informação que os usuários fornecem sobre si mesmos em qualquer circunstância, e não será responsável por
      quaisquer danos e prejuízos de qualquer natureza que possam surgir devido à utilização indevida da personalidade
      de terceiros efetuada por um usuário em qualquer classe ou situação dentro do AMA INFORMA.</p>

    <h6>9 Notificações</h6>

    <p>9.1 Todas as notificações por parte de usuários do AMA INFORMA deverão ser feitas única e exclusivamente através
      do canal de contato com a equipe de administração do aplicativo, disponível no link de contato no aplicativo.
      Todas as notificações e comunicações por parte do AMA INFORMA aos seus usuários, serão consideradas válidas e
      eficazes, para todos os efeitos, quando se derem através das seguintes formas:</p>
    <ul>
      <li>(a) envio de mensagem por correio eletrônico a qualquer endereço eletrônico fornecido pelo usuário;</li>

      <li>(b) através de mensagens postadas no AMA INFORMA em locais de acesso habitual do usuário.</li>
    </ul>

    <p>9.2 Neste sentido, todas as notificações que o AMA INFORMA realizar serão consideradas válidas quando efetuadas
      empregando os dados e através dos meios anteriormente destacados. Para estes efeitos, o usuário declara que todos
      os dados fornecidos são válidos e corretos, e como tais serão considerados, comprometendo-se a comunicar e
      atualizar junto ao AMA INFORMA todas as mudanças relativas aos seus dados pessoais.</p>

    <h6>10 Lei e Foro Aplicáveis</h6>

    <p>10.1 Estes Termos de Uso são regidos pelas leis brasileiras. Qualquer ação judicial envolvendo o AMA INFORMA
      deverá ser proposta obrigatoriamente no foro da comarca da cidade de Maceió-Alagoas, com exclusão de qualquer
      outro, por mais privilegiado que seja.</p>

    <h4 style="text-align: center">JP Sistemas</h4>

</ion-content>