<!--
  Generated template for the MunicipioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      MUNICÍPIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-title>
    <img src="../../assets/AMA/ICONES/icone-municipios.png">
  </ion-title>
  <ion-item>
    <ion-select [(ngModel)]="municipio" interface="popover" (ionChange)="selectMunicipio()">
      <ion-option value="0">Qual município procura?</ion-option>
      <ion-option *ngFor="let item of municipios" value="{{ item.id }}">{{ item.nome }}</ion-option>
    </ion-select>
  </ion-item>
  <main *ngIf="(isCurrent)">
    <h2>Município</h2>
    <h3>DADOS DO MUNICÍPIO</h3>
    <p><strong>Prefeito: </strong> {{ (prefeito)?.user.name }} </p>
    <p><strong>Partido: </strong> {{ (prefeito)?.partido.sigla }} </p>
    <p><strong>Vice Prefeito: </strong> {{ (viceprefeito)?.user.name }} </p>
    <p><strong>Partido Prefeito: </strong> {{ (viceprefeito)?.partido.sigla }} </p>
    <p><strong>Emancipação do Município: </strong> {{ current.data_emancipacao | date:'dd/MM/yyyy' }} </p>
    <p><strong>Site: </strong> {{ current.site }} </p>
    <h3>DADOS DA PREFEITURA</h3>
    <p><strong>CNPJ: </strong> {{ current.cnpj }} </p>
    <p><strong>E-mail: </strong> {{ current.email }} </p>
    <p><strong>Telefone: </strong> {{ current.telefone }} </p>
  </main>
</ion-content>
