page-municipio {
  .toolbar-title {
    text-align: center !important;
    font-size: 2.3rem !important;
  }

  .content {
    ion-title {
      img {
        width: 25% !important;
      }
    }

    ion-item {
      width: 80% !important;
      margin: 0 auto !important;

      .item-inner {
        border: 0 !important;

        ion-select {
          width: 100% !important;
          max-width: 100% !important;
          border: 2px solid #3a6fbd;
          border-radius: 10px;
          padding: 8px 8px 6px 16px !important;

          .select-text {
            color: #3a6fbd;
            font-size: 1.4rem;
          }

          .select-icon-inner {
            background: {
              image: url('../../assets/AMA/ICONES/seta-branca.png');
              position: 0 0;
              repeat: no-repeat;
              size: 100%
            }

            width: 20px !important;
            height: 13px !important;
            left: -15px !important;
            top: 40% !important;
            border: 0 !important;

          }
        }
      }
    }

    main {
      h2 {
        margin: 40px 0 0 0 !important;
        color: #3a6fbd;
      }

      h3 {
        font-size: 1.7rem !important;
        color: #3a6fbd;
        margin: 40px 0;
      }
    }
  }
}
