<!--
  Generated template for the NoticiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      NOTÍCIAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-title>Notícias</ion-title>
  <ion-item class="select" *ngIf="list_categoria">
    <ion-select [(ngModel)]="categoria_id" placeholder="Categoria" interface="popover" (ionChange)="listByCategoria()">
      <ion-option *ngFor="let categoria of categorias" value="{{ categoria.id }}">{{ categoria.nome }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-list no-lines>
    <ion-item *ngFor="let noticia of noticias" (click)="openNoticia(noticia)">
      <ion-thumbnail item-start>
        {{ noticia.created_at | date:'dd/MM/yyyy' }}
        <img src="{{noticia.foto}}">
      </ion-thumbnail>
      <h2>{{ noticia.titulo }}</h2>
      <p class="categoria">{{ noticia.categoria.nome }}</p>
    </ion-item>
  </ion-list>
</ion-content>
