page-noticia {
  .content {

    ion-title {
      .toolbar-title {
        text-align: left !important;
        color: #3a6fbd;
      }
    }

    ion-item {
      ion-thumbnail {
        color: #3a6fbd;
        font-size: 1.2rem;
        line-height: 1.5;
        font-style: italic;

        img {
          border-radius: 10%;
        }
      }

      ion-label {
        white-space: normal !important;

        h2 {
          font-size: 1.3rem !important;
          color: #3a6fbd;
        }

        .categoria {
          float: right;
          padding: 2px 10px;
          background-color: #3a6fbd;
          color: #ffffff;
          font-size: 1rem;
        }
      }
    }

    .container-spinner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80vh;

      ion-spinner {
        width: 100px !important;
        height: 100px !important;
        margin: 0 auto !important;
        display: block !important;

        & * {
          stroke: #3a6fbd !important;
          fill: #3a6fbd !important;
        }
      }
    }

    ion-item {


      &.select {
        margin-bottom: 20px;
        padding: 0;

        .item-inner {
          border-bottom-width: 0 !important;
        }

        ion-select {
          max-width: 100% !important;
          width: 100% !important;
        }

        & * {
          color: #3a6fbd;
        }

        .item-inner {
          border-bottom-color: #3a6fbd;
          border-bottom-width: 2px !important;

          .select-icon-inner {
            background: {
              image: url('../../assets/AMA/ICONES/seta-azul.png');
              position: 0 0;
              repeat: no-repeat;
              size: 100%
            }

            width: 20px !important;
            height: 13px !important;
            left: -15px !important;
            top: 40% !important;
            border: 0 !important;

          }
        }
      }
    }
  }

  ion-footer {
    background-color: #dce7ed !important;

    button {
      margin: 0 !important;
      color: #668fc4 !important;

      img {
        width: 25px !important;
        margin-right: 10px !important;
      }
    }
  }
}
