// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px !important;

  &::before {
    background-image: none !important;
  }
}

.toolbar-background {
  border: 0 !important;
}

.scroll-content {
  padding-top: 45px !important;
}

.btn-search {
  width: 15% !important;

  img {
    width: 60% !important;
  }
}

.btn-back {
  img {
    width: 30% !important;
  }
}

.popover-content:not(& > .normal) {
  width: 83% !important;
  left: 9% !important;
}

.normal {
  & ~ .popover-content {
    width: inherit !important;
    left: inherit !important;
  }
}
