page-pauta-detalhes {
  .toolbar-title {
    text-align: center !important;
    font-size: 2.3rem !important;
  }

  ion-item.item-header {
    font-size: 1.3rem;
    font-weight: lighter;
    color: #3a6fbd !important;


    img {
      width: 24px !important;
    }

    .item-inner {
      border: 0 !important;

      ion-note {
        float: right;
        color: #3a6fbd !important;
      }
    }
  }
}
