<!--
  Generated template for the PautaDetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      PAUTAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item class="item-header">
    <img src="../../assets/AMA/ICONES/icone-home-pautas.png" item-left>
    {{ pauta.titulo }}
    <ion-note>{{ pauta.created_at | date:'dd/MM/yyyy' }}</ion-note>
  </ion-item>
  <ion-card *ngFor="let item of pauta.assuntos">
    <ion-card-content [innerHtml]="item.descricao"></ion-card-content>
  </ion-card>
</ion-content>
