page-pauta {

  .toolbar-title {
    text-align: center !important;
    font-size: 2.3rem !important;
  }

  .content {
    ion-searchbar {
      background-color: transparent !important;
      border: 0 !important;
      padding: 0 60px !important;

      .searchbar-search-icon {
        left: auto !important;
        right: 9px !important;
      }

      .searchbar-input {
        border: 1px solid #3a6fbd !important;
      }
    }

    ion-list {
      margin-top: 30px !important;

      ion-item {
        font-size: 1.3rem;
        font-weight: lighter;
        color: #3a6fbd !important;

        &:nth-child(1) {
          background-color: #f4f4f4;
        }

        img {
          width: 24px !important;
        }

        ion-note {
          float: right;
          color: #3a6fbd !important;
        }
      }
    }
  }
}
