<!--
  Generated template for the PautaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      PAUTAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-searchbar (ionInput)="search" placeholder=""></ion-searchbar>
  <ion-list no-lines>
    <ion-item *ngFor="let pauta of pautas" (click)="openDetalhes(pauta.id)">
      <img src="../../assets/AMA/ICONES/icone-home-pautas.png" item-left>
      {{ pauta.titulo }}
      <ion-note>{{ pauta.created_at | date:'dd/MM/yyyy' }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
