page-arrecadacao {
  .content {
    background-color: #dce7ed;

    ion-item {
      background-color: #dce7ed;
      padding: 0;

      .item-inner {
        border-bottom-width: 0 !important;
      }

      & * {
        color: #3a6fbd;
      }

      &.select {
        margin-bottom: 20px;

        .item-inner {
          border-bottom-color: #3a6fbd;
          border-bottom-width: 2px !important;

          .select-icon-inner {
            background: {
              image: url('../../assets/AMA/ICONES/seta-azul.png');
              position: 0 0;
              repeat: no-repeat;
              size: 100%
            }

            width: 20px !important;
            height: 13px !important;
            left: -15px !important;
            top: 40% !important;
            border: 0 !important;

          }
        }
      }

      &.date {
        .item-inner {
          border-bottom-color: #3a6fbd;
          border-bottom-width: 2px !important;
        }
      }
    }
  }
}
