<!--
  Generated template for the ArrecadacaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      ARRECADAÇÃO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="arrecadacaoForm" (ngSubmit)="onSubmit()" padding>
    <ion-item class="select">
      <ion-label>Tipo</ion-label>
      <ion-select interface="popover">
        <ion-option value=""></ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="date">
      <ion-label>Data Inicial</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Data Final</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <button ion-button block large color="primary" type="submit" margin-top [disabled]="arrecadacaoForm.invalid">
      Buscar
    </button>
  </form>
</ion-content>
