<!--
  Generated template for the AvisoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      AVISO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor="let aviso of avisos" (click)="read(aviso.id)">
      <img item-left src="../../assets/AMA/ICONES/icone-notificacao-blue.png">
      <div [innerHtml]="aviso.mensagem"></div>
    </ion-item>
  </ion-list>
</ion-content>
