page-aviso {
  .content {
    ion-item {
      border-bottom: 1px solid #dce7ed !important;

      &:last-child {
        border-bottom-width: 0 !important;
      }

      img {
        width: 35px !important;
        margin-right: 32px !important;
      }

      ion-label {
        white-space: normal !important;
        text-align: justify !important;
      }
    }
  }
}
