<!--
  Generated template for the NoticiaDetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      NOTÍCIAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 class="title">{{ noticia.titulo }}</h2>
  <img src="{{ noticia.foto }}">
  <p class="date">{{ noticia.created_at | date:'dd/MM/yyyy' }}</p>
  <main [innerHtml]="noticia.texto"></main>
</ion-content>
