page-noticia-detalhes {
  ion-toolbar {
    ion-title {
      img {
        width: 40px !important;
        background-color: #fff;
      }
    }
  }

  .content {
    h2.title {
      text-align: center;
      color: #3a6fbd;
    }

    p.date {
      text-align: right;
      font-size: 1.3rem;
      color: #3a6fbd;
      margin: 5px 0;
    }

    main {
      text-align: justify !important;
      font-weight: lighter;
      font-size: 2rem;
    }
  }

  ion-footer {
    background-color: #dce7ed !important;

    button {
      margin: 0 !important;
      color: #668fc4 !important;

      img {
        width: 25px !important;
        margin-right: 10px !important;
      }
    }
  }
}
