<!--
  Generated template for the FaleConoscoDetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button icon-only clear class="btn-back" (click)="back()">
      <img src="../../assets/AMA/ICONES/icone-voltar.png">
    </button>
    <ion-title>
      FALE CONOSCO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <section>
    {{ mensagem.mensagem }}
    <small> {{ mensagem.created_at | date:'dd/MM/yyy - HH:mm' }} </small>
  </section>
  <main>
    <ion-list no-lines>
      <ion-item *ngFor="let resposta of mensagem.respostas">
        <img item-left
          src="../../assets/AMA/ICONES/balao-fale-conosco-{{ (mensagem.user_id == resposta.user_id) ? '2' : '1' }}.png">
        <p>{{ resposta.usuario.name }}</p>
        {{ resposta.resposta }}
        <small> {{ resposta.created_at | date:'dd/MM/yyy - HH:mm' }} </small>
      </ion-item>
    </ion-list>
  </main>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-input placeholder="Escreva algo..." type="text" [(ngModel)]="resposta"></ion-input>
    <button ion-button icon-only item-right large clear (click)="send()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
