page-fale-conosco-detalhes {
  .content {
    section {
      background-color: #dce7ed;
      padding: 20px 15px;
      text-align: justify;

      small {
        display: block;
        float: right;
        margin-top: 5px;
        color: #777;
      }
    }

    main {
      margin-top: 20px !important;

      ion-item {
        img {
          width: 24px !important;
        }

        ion-label {
          white-space: normal !important;
          text-align: justify;
          border: 2px solid #dce7ed;
          padding: 10px 5px;
          font-size: 1.4rem;

          small {
            text-align: right;
            display: block;
            margin-top: 5px;
            color: #777;
          }
        }
      }
    }
  }

  ion-footer {
    ion-item {
      margin-bottom: 20px !important;
      background-color: #dce7ed !important;
      bottom: -2px;
    }
  }
}
